@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: #047cfc;
    color: rgb(255, 255, 255); 
}

/* CABEÇA DO SITE */

.header {
    background-color: #838383;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;

}

/* CORPO PRINCIPAL */

.container {
    padding: 0px;
    margin: 0px;
}

.principal {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    
}

.texto {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
}

.media {
    display: flex;
}

section.filmes {

    width: 100%;
    height: 50vh;
    background-color: black;
    display: flex;
    flex-flow: row wrap;

}

section.series {

    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: row wrap;

}

.box-filmes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.box-series {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: rgb(0, 0, 0);
}

/* MENU */

.menu {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.247);
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.menu ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}

.menu ul li a {
    text-decoration: none;
    color: #047cfc;
    padding: 10px;
    display: block;
}

.menu ul li a:hover {
    background-color: #5e5e5e;
    color: white;
    transition: 0.5s;
}


/* IMAGENS */


img.logo {
    width: 150px;
}

img.rodape {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.247);
    width: 100px;
}

img.banner {
    display: flex;
    width: 100%;
    height: 450px;
}

img.rede {
    width: 30px;
    height: 30px;
    border-radius:50px;
}

img.capa {
    width: 90%;
    height: 90%;
}

/* RODAPÉ DO SITE */

footer {
    
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
 footer > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bolder;
    
 }